<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author's Details</title>
</head>
<body>
<h1>Author's List</h1>

<table>
    <tr>
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
    </tr>

    <tr th:each="author : ${authorsList}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}">Amit</td>
        <td th:text="${author.lastName}">Kumar</td>
    </tr>

</table>
</body>
</html>